In [1]:
import warnings
import pandas as pd
warnings.filterwarnings('ignore')
pd.set_option('max_columns', 50)

train_bank = pd.read_csv('./originalData/train_public.csv')
train_internet = pd.read_csv('./originalData/train_internet.csv')
train_bank.shape

(10000, 39)

In [2]:
train_internet.shape

(750000, 42)

In [3]:
train_internet.columns

Index(['loan_id', 'user_id', 'total_loan', 'year_of_loan', 'interest',
       'monthly_payment', 'class', 'sub_class', 'work_type', 'employer_type',
       'industry', 'work_year', 'house_exist', 'house_loan_status',
       'censor_status', 'marriage', 'offsprings', 'issue_date', 'use',
       'post_code', 'region', 'debt_loan_ratio', 'del_in_18month',
       'scoring_low', 'scoring_high', 'pub_dero_bankrup', 'early_return',
       'early_return_amount', 'early_return_amount_3mon', 'recircle_b',
       'recircle_u', 'initial_list_status', 'earlies_credit_mon', 'title',
       'policy_code', 'f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'is_default'],
      dtype='object')

In [4]:
test = pd.read_csv('./originalData/test_public.csv')

In [5]:
test.describe()

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,house_exist,censor_status,use,post_code,region,debt_loan_ratio,del_in_18month,scoring_low,scoring_high,known_outstanding_loan,known_dero,pub_dero_bankrup,recircle_b,recircle_u,initial_list_status,app_type,title,policy_code,f0,f1,f2,f3,f4,early_return,early_return_amount,early_return_amount_3mon
count,5.000000e+03,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,4996.000000,5000.000000,5000.000000,5000.0000,5000.00000,5000.000000,5000.0,4741.000000,4546.000000,4741.000000,4741.000000,4741.000000,5000.000000,5000.000000,5000.000000
mean,1.024992e+06,224991.897800,14257.687727,3.492400,13.207284,430.961668,0.616400,0.998000,1.803200,262.266000,16.310000,17.479392,0.302800,663.751545,774.180545,11.57440,0.213200,0.142914,16834.606677,54.142169,0.4074,0.01660,1822.506600,1.0,5.650918,0.000880,8.589538,14.703649,8.132040,1.570000,2195.747800,338.945112
std,1.443135e+04,14431.348968,8755.784815,0.861679,4.795365,251.272924,0.671819,0.781613,2.413801,201.484039,11.185013,10.097454,0.852559,76.529284,100.014385,5.49488,0.538706,0.392614,21757.810210,26.039213,0.4914,0.12778,7971.472766,0.0,3.338728,0.029653,7.425200,8.123397,4.795245,1.456957,2995.760578,623.447110
min,1.000006e+06,200006.000000,818.181818,3.000000,4.788000,30.530000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,540.000000,585.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.0000,0.00000,0.000000,1.0,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,1.012724e+06,212723.500000,7636.363636,3.000000,9.675000,250.290000,0.000000,0.000000,0.000000,103.000000,8.000000,10.962727,0.000000,604.545455,699.242424,8.00000,0.000000,0.000000,6019.673077,34.517308,0.0000,0.00000,0.000000,1.0,3.000000,0.000000,3.000000,9.000000,5.000000,0.000000,0.000000,0.000000
50%,1.024658e+06,224658.500000,12272.727270,3.000000,12.690000,375.430000,1.000000,1.000000,0.000000,214.000000,14.000000,16.670909,0.000000,665.000000,772.727273,11.00000,0.000000,0.000000,11526.807690,54.526923,0.0000,0.00000,2.000000,1.0,5.000000,0.000000,7.000000,13.000000,7.000000,1.000000,890.000000,0.000000
75%,1.037519e+06,237518.750000,19200.000000,3.000000,15.990000,564.562500,1.000000,2.000000,4.000000,401.000000,22.000000,23.050000,0.000000,725.454545,843.750000,14.00000,0.000000,0.000000,20816.519232,73.846154,1.0000,0.00000,5.000000,1.0,7.000000,0.000000,11.000000,19.000000,10.000000,3.000000,3426.000000,426.461539
max,1.049998e+06,249998.000000,47272.727270,5.000000,34.089000,1486.340000,5.000000,2.000000,13.000000,936.000000,49.000000,380.720000,16.000000,900.000000,1125.000000,42.00000,8.000000,4.000000,473476.153800,152.423077,1.0000,1.00000,61330.000000,1.0,28.000000,1.000000,60.000000,62.000000,38.000000,5.000000,19710.000000,5968.846154

### 数据预处理

In [6]:
## train_bank有这么多的列。呵呵哒。
len(train_bank.columns)

39

In [7]:
## train_internet有这么多的列：
len(train_internet.columns)

42

In [8]:
## 寻找共同的列
common_cols = []
for col in train_bank.columns:
    if col in train_internet.columns:
        common_cols.append(col)
    else: continue
len(common_cols)

35

In [9]:
common_cols

['loan_id',
 'user_id',
 'total_loan',
 'year_of_loan',
 'interest',
 'monthly_payment',
 'class',
 'employer_type',
 'industry',
 'work_year',
 'house_exist',
 'censor_status',
 'issue_date',
 'use',
 'post_code',
 'region',
 'debt_loan_ratio',
 'del_in_18month',
 'scoring_low',
 'scoring_high',
 'pub_dero_bankrup',
 'recircle_b',
 'recircle_u',
 'initial_list_status',
 'earlies_credit_mon',
 'title',
 'policy_code',
 'f0',
 'f1',
 'f2',
 'f3',
 'f4',
 'early_return',
 'early_return_amount',
 'early_return_amount_3mon']

In [10]:
train_bank_left = list(set(list(train_bank.columns)) - set(common_cols))
train_internet_left = list(set(list(train_internet.columns)) - set(common_cols))

## train_bank独有的列
train_bank_left

['isDefault', 'known_outstanding_loan', 'app_type', 'known_dero']

In [11]:
## train_internet独有的列
train_internet_left

['house_loan_status',
 'work_type',
 'is_default',
 'marriage',
 'sub_class',
 'offsprings',
 'f5']

In [12]:
train1_data = train_internet[common_cols + ["is_default"]]
train2_data = train_bank[common_cols + ["isDefault"]]
test_data = test[common_cols]## test[common_cols[:-1]]

处理日期类型的数据

In [13]:
import datetime

# 日期类型：issueDate，earliesCreditLine
# 转换为pandas中的日期类型
train1_data['issue_date'] = pd.to_datetime(train1_data['issue_date'])
# 提取多尺度特征
train1_data['issue_date_y'] = train1_data['issue_date'].dt.year
train1_data['issue_date_m'] = train1_data['issue_date'].dt.month
# 提取时间diff
# 设置初始的时间
base_time = datetime.datetime.strptime('2007-06-01', '%Y-%m-%d')
# 转换为天为单位
train1_data['issue_date_diff'] = train1_data['issue_date'].apply(lambda x: x-base_time).dt.days
train1_data[['issue_date', 'issue_date_y', 'issue_date_m', 'issue_date_diff']]
train1_data.drop('issue_date', axis = 1, inplace = True)

In [14]:
# 日期类型：issueDate，earliesCreditLine
# 转换为pandas中的日期类型
train2_data['issue_date'] = pd.to_datetime(train2_data['issue_date'])
# 提取多尺度特征
train2_data['issue_date_y'] = train2_data['issue_date'].dt.year
train2_data['issue_date_m'] = train2_data['issue_date'].dt.month
# 提取时间diff
# 设置初始的时间
base_time = datetime.datetime.strptime('2007-06-01', '%Y-%m-%d')
# 转换为天为单位
train2_data['issue_date_diff'] = train2_data['issue_date'].apply(lambda x: x-base_time).dt.days
train2_data[['issue_date', 'issue_date_y', 'issue_date_m', 'issue_date_diff']]
train2_data.drop('issue_date', axis = 1, inplace = True)
train2_data

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,employer_type,industry,work_year,house_exist,censor_status,use,post_code,region,debt_loan_ratio,del_in_18month,scoring_low,scoring_high,pub_dero_bankrup,recircle_b,recircle_u,initial_list_status,earlies_credit_mon,title,policy_code,f0,f1,f2,f3,f4,early_return,early_return_amount,early_return_amount_3mon,isDefault,issue_date_y,issue_date_m,issue_date_diff
0,1040418,240418,31818.18182,3,11.466,1174.91,C,政府机构,金融业,3 years,0,1,2,193,13,2.430000,0,556.363636,649.090909,0.0,7734.230769,91.800000,0,1-Dec,5,1,1.0,0.0,4.0,5.0,4.0,3,9927,0.0,0,2016,10,3410
1,1025197,225197,28000.00000,5,16.841,670.69,C,政府机构,金融业,10+ years,0,2,0,491,30,11.004545,1,715.000000,893.750000,0.0,31329.000000,54.800000,1,Apr-90,40642,1,7.0,0.0,4.0,45.0,22.0,0,0,0.0,0,2013,6,2192
2,1009360,209360,17272.72727,3,8.900,603.32,A,政府机构,公共服务、社会组织,10+ years,1,0,4,459,8,6.409091,0,774.545455,903.636364,0.0,18514.000000,57.692308,1,Oct-91,154,1,6.0,0.0,6.0,28.0,19.0,0,0,0.0,0,2014,1,2406
3,1039708,239708,20000.00000,3,4.788,602.30,A,世界五百强,文化和体育业,6 years,0,1,0,157,8,9.204545,0,750.000000,875.000000,0.0,20707.000000,42.600000,0,1-Jun,0,1,5.0,0.0,10.0,15.0,9.0,0,0,0.0,0,2015,7,2952
4,1027483,227483,15272.72727,3,12.790,470.31,C,政府机构,信息传输、软件和信息技术服务业,< 1 year,2,1,0,38,21,15.578182,0,609.090909,710.606061,0.0,14016.153850,30.461538,0,2-May,0,1,10.0,0.0,6.0,15.0,4.0,0,0,0.0,0,2016,7,3318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1028093,228093,17727.27273,3,15.037,510.27,B,普通企业,建筑业,7 years,1,1,4,49,12,10.483636,0,720.000000,780.000000,0.0,19864.923080,45.507692,1,6-Feb,234,1,4.0,0.0,4.0,11.0,7.0,2,5287,0.0,0,2013,11,2345
9996,1043911,243911,13636.36364,3,6.534,464.95,A,政府机构,农、林、牧、渔业,2 years,1,1,0,143,8,0.654545,0,642.272727,749.318182,0.0,2025.000000,10.300000,0,May-97,0,1,2.0,0.0,2.0,7.0,6.0,3,7182,0.0,0,2015,12,3105
9997,1023503,223503,24818.18182,3,14.421,708.69,B,普通企业,信息传输、软件和信息技术服务业,10+ years,0,0,4,66,14,20.421818,1,780.000000,910.000000,0.0,12641.000000,21.876923,1,Feb-87,120,1,6.0,0.0,5.0,15.0,11.0,1,8540,2562.0,0,2012,12,2010
9998,1024616,224616,20000.00000,3,18.450,727.58,D,政府机构,农、林、牧、渔业,10+ years,0,0,2,19,14,14.048182,0,552.272727,690.340909,0.0,24642.692310,60.646154,0,Oct-92,5,1,7.0,0.0,5.0,17.0,10.0,2,6161,616.1,0,2018,3,3926
9999,1021034,221034,1000.00000,3,14.014,33.57,C,高等教育机构,信息传输、软件和信息技术服务业,7 years,1,0,0,566,30,3.280000,0,685.000000,799.166667,0.0,1802.307692,22.400000,1,9-Feb,0,1,3.0,0.0,2.0,9.0,6.0,3,299,59.8,0,2017,5,3622

这边用的方法很明显是一种encode 方法。可能可以做一点改进：
- 用一些库来做encoding，而不是这样一种粗放的形式。
- 用onehot来搞。因为这种东西没有值递增的关系，所以用onehot可能会更好。不知道这个是不是可以在lightGBM里面设置，就是某些列进行onehot。

In [15]:

emp_type_dict = dict(zip(employer_type, [0,1,2,3,4,5]))
employer_type = train1_data['employer_type'].value_counts().index
train1_data['employer_type'] = train1_data['employer_type'].map(emp_type_dict)
train2_data['employer_type'] = train2_data['employer_type'].map(emp_type_dict)

industry_dict = dict(zip(industry, [i for i in range(15)]))
industry = train1_data['industry'].value_counts().index
train1_data['industry'] = train1_data['industry'].map(industry_dict)
train2_data['industry'] = train2_data['industry'].map(industry_dict)

下面这些个东东啊，是有递增关系的。所以我们无需对其进行onehot.

In [17]:
train1_data['work_year'].fillna('10+ years', inplace=True)
train2_data['work_year'].fillna('10+ years', inplace=True)

work_year_map = {'10+ years': 10, '2 years': 2, '< 1 year': 0, '3 years': 3, '1 year': 1,
     '5 years': 5, '4 years': 4, '6 years': 6, '8 years': 8, '7 years': 7, '9 years': 9}
train1_data['work_year']  = train1_data['work_year'].map(work_year_map)
train2_data['work_year']  = train2_data['work_year'].map(work_year_map)

train1_data['class'] = train1_data['class'].map({'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6})
train2_data['class'] = train2_data['class'].map({'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6})

对test_data做一样的操作。

In [18]:
# 日期类型：issueDate，earliesCreditLine
#train[cat_features]
# 转换为pandas中的日期类型
test_data['issue_date'] = pd.to_datetime(test_data['issue_date'])
# 提取多尺度特征
test_data['issue_date_y'] = test_data['issue_date'].dt.year
test_data['issue_date_m'] = test_data['issue_date'].dt.month
# 提取时间diff
# 设置初始的时间
base_time = datetime.datetime.strptime('2007-06-01', '%Y-%m-%d')
# 转换为天为单位
test_data['issue_date_diff'] = test_data['issue_date'].apply(lambda x: x-base_time).dt.days
test_data[['issue_date', 'issue_date_y', 'issue_date_m', 'issue_date_diff']]
test_data.drop('issue_date', axis = 1, inplace = True)
test_data['work_year'].fillna('10+ years', inplace=True)

work_year_map = {'10+ years': 10, '2 years': 2, '< 1 year': 0, '3 years': 3, '1 year': 1,
     '5 years': 5, '4 years': 4, '6 years': 6, '8 years': 8, '7 years': 7, '9 years': 9}
test_data['work_year']  = test_data['work_year'].map(work_year_map)
test_data['class'] = test_data['class'].map({'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6})
test_data['employer_type'] = test_data['employer_type'].map(emp_type_dict)
test_data['industry'] = test_data['industry'].map(industry_dict)

## 模型使用
1) LigthGBM
2) NN

##### 使用internet和bank数据共同特征总量训练

!pip install lightgbm

In [19]:
train1_data.columns

Index(['loan_id', 'user_id', 'total_loan', 'year_of_loan', 'interest',
       'monthly_payment', 'class', 'employer_type', 'industry', 'work_year',
       'house_exist', 'censor_status', 'use', 'post_code', 'region',
       'debt_loan_ratio', 'del_in_18month', 'scoring_low', 'scoring_high',
       'pub_dero_bankrup', 'recircle_b', 'recircle_u', 'initial_list_status',
       'earlies_credit_mon', 'title', 'policy_code', 'f0', 'f1', 'f2', 'f3',
       'f4', 'early_return', 'early_return_amount', 'early_return_amount_3mon',
       'is_default', 'issue_date_y', 'issue_date_m', 'issue_date_diff'],
      dtype='object')

我很好奇，这个isDefault列什么时候丢掉的？

In [20]:
train1_data.shape

(750000, 38)

In [21]:
train1_data.head()

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,employer_type,industry,work_year,house_exist,censor_status,use,post_code,region,debt_loan_ratio,del_in_18month,scoring_low,scoring_high,pub_dero_bankrup,recircle_b,recircle_u,initial_list_status,earlies_credit_mon,title,policy_code,f0,f1,f2,f3,f4,early_return,early_return_amount,early_return_amount_3mon,is_default,issue_date_y,issue_date_m,issue_date_diff
0,119262,0,12000.0,5,11.53,264.10,1,0,10,10,0,2,0,814.0,4,5.07,1.0,670.0,674.0,1.0,3855.0,23.1,0,Mar-1984,0.0,1.0,1.0,0.0,8.0,17.0,8.0,0,0,0.0,1,2015,6,2922
1,369815,1,8000.0,3,13.98,273.35,2,0,11,10,0,2,2,240.0,21,15.04,0.0,725.0,729.0,0.0,118632.0,99.9,1,Jan-1992,94.0,1.0,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0,2010,10,1218
2,787833,2,20000.0,5,17.99,507.76,3,3,5,10,0,1,0,164.0,20,17.38,1.0,675.0,679.0,0.0,15670.0,72.5,0,Oct-1996,0.0,1.0,6.0,0.0,10.0,8.0,3.0,0,0,0.0,0,2016,8,3349
3,671675,3,10700.0,3,10.16,346.07,1,0,1,2,2,2,4,48.0,10,27.87,0.0,710.0,714.0,0.0,18859.0,78.6,0,Jul-2000,41646.0,1.0,3.0,0.0,4.0,11.0,6.0,0,0,0.0,0,2013,5,2161
4,245160,4,8000.0,3,8.24,251.58,1,1,0,5,1,0,4,122.0,9,3.47,0.0,660.0,664.0,0.0,8337.0,67.8,1,Mar-2000,4.0,1.0,3.0,0.0,8.0,6.0,4.0,0,0,0.0,0,2017,4,3592

In [19]:
import lightgbm
from sklearn import metrics

X_train1 = train1_data.drop(['is_default','earlies_credit_mon','loan_id','user_id'], axis = 1, inplace = False)
y_train1 = train1_data['is_default']

X_train1.shape

(750000, 34)

In [20]:
X_train2 = train2_data.drop(['isDefault','earlies_credit_mon','loan_id','user_id'], axis = 1, inplace = False)
y_train2 = train2_data['isDefault']
X_train2.shape

(10000, 34)

In [21]:
X_train = pd.concat([X_train1, X_train2])
y_train = pd.concat([y_train1, y_train2])
X_train.shape

(760000, 34)

In [22]:
X_test = test_data.drop(['earlies_credit_mon','loan_id','user_id'], axis = 1, inplace = False)
X_test.shape

(5000, 34)

In [23]:
set(X_train.columns) - set(X_test)

set()

In [21]:
X_train.head()

NameError: name 'X_train' is not defined

In [24]:
# 利用Internet数据预训练模型1
clf_ex=lightgbm.LGBMRegressor(n_estimators = 200)
clf_ex.fit(X = X_train, y = y_train)
clf_ex.booster_.save_model('models/LGBMmode.txt')
pred = clf_ex.predict(X_test)

In [25]:
# submission
submission = pd.DataFrame({'id':test['loan_id'], 'is_default':pred})
submission.to_csv('submission.csv', index = None)

#### NN

import matplotlib.pyplot as plt
%matplotlib inline

from tensorflow.keras.models import Sequential
from keras.layers import Dense , Dropout , Lambda, Flatten
from tensorflow.keras.optimizers import Adam, RMSprop
from sklearn.model_selection import train_test_split
from keras import  backend as K
from keras import models
from keras.preprocessing.image import ImageDataGenerator

# 数据标准化
import numpy as np
mean_px = X_train.mean().astype(np.float32)
std_px = X_train.std().astype(np.float32)
def standardize(x): 
    return (x-mean_px)/std_px

# 缺失值填补
X_train.fillna(0, inplace = True)
X_test.fillna(0, inplace = True)

X_train_NN =(X_train - mean_px) / std_px
X_test_NN  = (X_test - mean_px) / std_px

X_train_NN = (X_train.values).astype('float32') # all pixel values
y_train_NN = y_train.astype('int32')

X_test_NN = (X_test.values).astype('float32') # all pixel values

# 修改初始化、加归一层、加dropout、改用不同的metrics
seed = 43
np.random.seed(seed)
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelBinarizer
from sklearn.metrics import roc_auc_score
import tensorflow as tf
from tensorflow.keras.regularizers import l2
from tensorflow.keras.metrics import AUC

def auroc(y_true, y_pred):
    return tf.compat.v1.py_func(roc_auc_score, (y_true, y_pred), tf.double)

input_shape = X_train_NN.shape[1]
b_size = 1024
max_epochs = 10

import tensorflow.keras as K
init = K.initializers.glorot_uniform(seed=1)
simple_adam = K.optimizers.Adam(lr=0.001)

model = K.models.Sequential()
model.add(K.layers.Dense(units=256, input_dim=input_shape, kernel_initializer='he_normal', activation='relu',kernel_regularizer=l2(0.0001)))
model.add(K.layers.LayerNormalization())
model.add(K.layers.Dropout(0.3))
model.add(K.layers.Dense(units= 64, kernel_initializer='he_normal', activation='relu'))
model.add(K.layers.LayerNormalization())
model.add(K.layers.Dropout(0.3))
model.add(K.layers.Dense(units=1, kernel_initializer='he_normal', activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer=simple_adam, metrics=['accuracy',AUC(name='auc')])

model.summary()

print("Starting NN training")
h = model.fit(X_train_NN, y_train_NN, batch_size=b_size, epochs=max_epochs, shuffle=True, verbose=1)
print("NN training finished")

pred_NN = model.predict(X_test_NN)
pred_NN = [item[0] for item in pred_NN]

model.save('NN_model.h5')
submission = pd.DataFrame({'id':test['loan_id'], 'is_default':pred_NN})
submission.to_csv('submission.csv', index = None)

# 其他尝试...